{% if page.name == 'try' %}
	<script src="/js/codemirror.js"></script>
	<script src="/js/codemirror-modes.js"></script>
	<script src="/roole.min.js"></script>
{% endif %}
<script src="/js/enquire.js"></script>
<script src="/js/doc.js"></script>
<script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-38324811-1"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>